<div class="full_course">
    <div class="course_image">
        <%= image_tag course.image.url %>
        <div class="course_title">
            <%= link_to course.title, path %>
        </div>
    </div>
    <div class="course_detail">
        <div>讲师: <%= course.teacher.name %></div>
        <div>开课时间: <%= course.start_time %> </div>
    </div>
</div>
