<% content_for :head do %>
  <%= stylesheet_link_tag "category" %>
<% end %>

<div class="view-container">
  <div class="title">
    <h1>Browse by category</h1>

    <select name="category-filter" id="search-category-filter">
      <option value="art">Art</option>
      <option value="cooking">Cooking</option>
    </select>
  
    <div class="sort-wrapper">
      Sort by
      <select name="search-sort" id="">
        <option value="b">Best match</option>
        <option value="t">Soonest available</option>
        <option value="p">Lowest price</option>
      </select>
    </div>
  </div>
  
  <div class="course-container">
    <div class="course-card">
      <%= image_tag "category-course-image.png", class: "course-image" %>
      <%= image_tag "people-6.jpg", class: "course-teacher" %>
      <div class="course-intro">
        
      </div>
      
    </div>
    
  </div>
</div>

