<!DOCTYPE html>
<%=@id%>
<html>
<head>
    <title></title>
</head>
<body>
    <div class="col-md-6">
      <table class="table table-bordered">

        <thead>
            <tr>
              <th>#</th>
              <th>客户姓名</th>
              <th>提取现金</th>
              <th>支付宝账号</th>
              <th>处理状态</th>
            </tr>
        </thead>

        <tbody>
            <tr>
              <td>1</td>
              <td><%=@cash.name%></td>
              <td><%=@cash.sum%></td>
              <td><%=@cash.alipay_account%></td>
              <td>未处理</td>
            </tr>
        </tbody>

      </table>
    </div>
</body>
</html>