<div class="row">
	<div class="col-md-2">
		<div>求真相</div>
		<div>个人设置</div>
		<div>密码修改</div>
		<div>我的课程</div>
	</div>
	<div class="col-md-8">
		<div>
			<a>正在学习</a>
			<a>待支付</a>
			<a>收藏</a>
		</div>
		<div>
		<% 4.times do |i| %>
			<a>课程</a>
		<% end %>
		</div>
	</div>
</div>
