<% content_for :head do %>
    <%= stylesheet_link_tag "learning"  %>
    <%= javascript_include_tag "learning"  %>
<% end %>

<div class="ad">
    <%= image_tag "account_learning.png" %>
</div>
<div class="learning">
    <span class="active">正在学习</span>
    <span>已学习</span>
</div>
<% if @courses.length == 0 %>
    <div class="no_class">
        你还没有参加任何课程 <a class="btn btn-success btn-sm" href="/">浏览课程</a>
    </div>
<% else %>
    <div class="my_classes">
        <% @courses.each do |item|%>
            <%= render partial: "item", locals: {item: item} %>
        <% end %>
    </div>
<% end %>
