<div class="row lesson_nav">
    <% [["正在学习", "/accounts/student/learning"], ["待支付", "/accounts/student/pending"], ["收藏", "/accounts/student/favorite" ]].each do |item| %>
        <div class="col-md-4"><%= link_to item[0], item[1], class: (item[1].include? params[:action]) %></div>
    <% end %>
</div>
<div class="row lesson_detail">
    <% @courses.each do |c| %>
        <div class="col-md-3">课程</div>
    <% end %>
</div>
