<ol class='breadcrumb'>
  <li id='step1'>课程信息</li>
  <li id='step2'>讲师信息</li>
  <li id='step3' class='active'>发布课程</li>
</ol>

<div class="jumbotron">
  <a class="btn btn-primary btn-lg" role="button" href="<%= pub_accounts_course_path(@course) %>">发布课程</a>
</div>