<div class="accounts_course">
    <div class="new_course">
        <%= link_to '开设新课程', new_accounts_course_path, class: "btn btn-success" %>
    </div>

    <div class="row">
        <% @courses.each do |course| %>
            <div class="col-md-4">
                <%= render partial: 'accounts/shared/single_course', locals: {course: course, path: accounts_course_path(course)} %>
            </div>
        <% end %>
    </div>
</div>
