<ol class='breadcrumb'>
  <li id='step1' class='active'>课程信息</li>
  <li id='step2'>讲师信息</li>
  <li id='step3'>发布课程</li>
</ol>

<div id='step1'>
    <div id='type_select' class="jumbotron">
        <a class="btn btn-primary btn-lg" role="button" onclick="$('#type_select').hide();$('div#step1 #online').show();course.type='ONLINE'">线上课程</a>
        <a class="btn btn-info btn-lg" role="button" onclick="$('#type_select').hide();$('div#step1 #offline').show();course.type='OFFLINE'">线下课程</a>
    </div>
    <div id='online' style='display:none'>
        <%= render 'online_form' %>
    </div>
    <div id='offline' style='display:none'>
        <%= render 'offline_form' %>
    </div>
</div>

<div id='step2'>
</div>
<div id='step3'>
</div>

<script type="text/javascript">
    var course = {};
</script>