<%= content_for :head do %>
  <%= stylesheet_link_tag 'course' %>
<% end %>
<div class="container">
  <div class="content" style="height:800px; margin:80px 0px;">
    <%= render :partial => 'form', :locals => {id: 'account_order_new_form'} %>
  </div>
</div>