<p id="notice"><%= notice %></p>

<p>
  <strong>Detail:</strong>
  <%= @agreement.detail %>
</p>

<%= link_to 'Edit', edit_admin_agreement_path(@agreement) %> |
<%= link_to 'Back', admin_agreements_path %>
