<div id="banner" class="row">
  <div class="col-lg-6">
    <div class="white">
      <h2>Get help from an expert over live video</h2>
    </div>

    <div class="bg-black" id="watchVideo">
      <a class="white" href="#">Watch a short video</a>
    </div>

    <form class="bg-black">
      <input type="text" id="searchInput" 
        placeholder="I need help with...">
        <button type="submit" id="searchButton">
          <span class="glyphicon glyphicon-search"></span>
        </button>
    </form>
  </div>

  <div class="col-lg-6">
    <div id="introduction">
      <div class="bg-green">
        <%= image_tag "people.jpg", class: "avatar" %>
        <span></span>
      </div>
    </div>
  </div>
</div>
