<div id="category" class="panel panel-default">
  <div class="panel-body">
    <div>
      <h2>Helpouts by category</h2>
    </div>

    <div id="category-list">
      <span class="glyphicon glyphicon-headphones" data-toggle="toggletip"
        data-placement="top" title="Music"></span>
      <span class="glyphicon glyphicon-book" data-toggle="toggletip"
        data-placement="top" title="Book"></span>
      <span class="glyphicon glyphicon-heart" data-toggle="toggletip"
        data-placement="top" title="Heart"></span>
      <span class="glyphicon glyphicon-star" data-toggle="toggletip"
        data-placement="top" title="Star"></span>
      <span class="glyphicon glyphicon-camera" data-toggle="toggletip"
        data-placement="top" title="Camera"></span>
    </div>

  </div>
</div>
