<div id="category" class="panel panel-default text-center">
  <div class="container panel-body">
    <div>
      <h2>Helpouts by category</h2>
    </div>

    <div id="category-list">
      <span class="glyphicon glyphicon-headphones" data-toggle="toggletip"
        data-placement="top" title="Music"></span>
      <span class="glyphicon glyphicon-book" data-toggle="toggletip"
        data-placement="top" title="Book"></span>
      <span class="glyphicon glyphicon-heart" data-toggle="toggletip"
        data-placement="top" title="Heart"></span>
      <span class="glyphicon glyphicon-star" data-toggle="toggletip"
        data-placement="top" title="Star"></span>
      <span class="glyphicon glyphicon-camera" data-toggle="toggletip"
        data-placement="top" title="Camera"></span>
    </div>

    <div class="row">
      <a href="#"><span class="left font-2x">MUSIC</span></a>
      <a href="#"><span class="right font-2x">VIEW ALL</span></a>
    </div>

    <div class="row">
      <div class="pre-next-btn col-lg-1 col-md-1">
        <span class="glyphicon glyphicon-chevron-left font-2x green"></span>
      </div>

      <div class="col-lg-10 col-md-10">
        <div class="category-tab active">
          <% 2.times do %>
            <div class="row">
              <% 3.times do %>

                <div class="category-course col-lg-3 col-md-3">
                  <div class="category-course-image bg-image-cooking"> </div>
                  <div class="category-course-info">
                    <div class="category-course-teacher">
                      <div class="avatar-bg category-avatar">
                        <%= image_tag "alice.jpg", class: "avatar" %>
                      </div>
                      <span class="font-2x">Cooking</span><br>
                      <span>Alice</span>
                    </div>
                    <hr>
                    <div>
                      <% 5.times do %>
                        <span class="glyphicon glyphicon-star green"></span>
                      <% end %>
                      <span>￥19.99</span>
                    </div>
                  </div>
                </div>

              <% end %>
            </div>
          <% end %>
        </div>
        
        <div class="category-tab inactive">
          <% 2.times do %>
            <div class="row">
              <% 3.times do %>

                <div class="category-course col-lg-3 col-md-3">
                  <div class="category-course-image bg-image-photograph"> </div>
                  <div class="category-course-info">
                    <div class="category-course-teacher">
                      <div class="avatar-bg category-avatar">
                        <%= image_tag "kyle.jpg", class: "avatar" %>
                      </div>
                      <span class="font-2x">Photograph</span><br>
                      <span>Kyle</span>
                    </div>
                    <hr>
                    <div>
                      <% 5.times do %>
                        <span class="glyphicon glyphicon-star green"></span>
                      <% end %>
                      <span>￥19.99</span>
                    </div>
                  </div>
                </div>

              <% end %>
            </div>
          <% end %>
        </div>
      </div>

      <div class="pre-next-btn col-lg-1 col-md-1">
        <span class="glyphicon glyphicon-chevron-right font-2x green"></span>
      </div>
    </div>

  </div>
</div>
