<div id="category" class="panel panel-default text-center">
  <div class="container-fluid panel-body">
    <div>
      <h2>Helpouts by category</h2>
    </div>

    <div id="category-list">
      <span class="glyphicon glyphicon-headphones" data-toggle="toggletip"
        data-placement="top" title="Music"></span>
      <span class="glyphicon glyphicon-book" data-toggle="toggletip"
        data-placement="top" title="Book"></span>
      <span class="glyphicon glyphicon-heart" data-toggle="toggletip"
        data-placement="top" title="Heart"></span>
      <span class="glyphicon glyphicon-star" data-toggle="toggletip"
        data-placement="top" title="Star"></span>
      <span class="glyphicon glyphicon-camera" data-toggle="toggletip"
        data-placement="top" title="Camera"></span>
    </div>

    <div class="row">
      <div class="col-lg-2 col-lg-offset-2">
        <a href="#"><span class="pull-left font-2x">MUSIC</span></a>
      </div>
      <div class="col-lg-2 col-lg-offset-4">
        <a href="#"><span class="pull-right font-2x">VIEW ALL</span></a>
      </div>
    </div>

    <div class="row category-slider">
      <div class="col-lg-1 col-md-1 pre-next-hover"></div>
      <div class="col-lg-1 col-md-1 pre-next-hover">
        <div class="pre-next-btn pre-btn">
          <span class="glyphicon glyphicon-chevron-left font-2x green"></span>
        </div>
      </div>

      <div class="col-lg-8 col-md-8 category-viewport">
        <div class="category-tabs">
          <div class="category-tab active">
            <% 2.times do %>
              <div class="row">
                <% 3.times do %>

                  <div class="category-course col-lg-2 col-md-2">
                    <div class="category-course-image bg-image-cooking"> </div>
                    <div class="category-course-info">
                      <div class="category-course-teacher">
                        <div class="avatar-bg category-avatar">
                          <%= image_tag "alice.jpg", class: "avatar" %>
                        </div>
                        <span class="white text-shadow font-2x">Cooking</span><br>
                        <span class="pull-left teacher-name">Alice</span>
                      </div>
                      <hr>
                      <div class="course-review">
                        <div class="pull-left">
                          <% 5.times do %>
                            <span class="glyphicon glyphicon-star green"></span>
                          <% end %>
                        </div>
                        <span class="pull-right">￥19.99</span>
                      </div>
                    </div>
                  </div>

                <% end %>
              </div>
            <% end %>
          </div>
        
          <div class="category-tab inactive">
            <% 2.times do %>
              <div class="row">
                <% 3.times do %>

                  <div class="category-course col-lg-2 col-md-2">
                    <div class="category-course-image bg-image-photograph"> </div>
                    <div class="category-course-info">
                      <div class="category-course-teacher">
                        <div class="avatar-bg category-avatar">
                          <%= image_tag "kyle.jpg", class: "avatar" %>
                        </div>
                        <span class="white text-shadow font-2x">Photograph</span><br>
                        <span class="pull-left teacher-name">Kyle</span>
                      </div>
                      <hr>
                      <div class="course-review">
                        <div class="pull-left">
                          <% 5.times do %>
                            <span class="glyphicon glyphicon-star green"></span>
                          <% end %>
                        </div>
                        <span class="pull-right">￥19.99</span>
                      </div>
                    </div>
                  </div>

                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      </div>

      <div class="col-lg-1 col-md-1 pre-next-hover">
        <div class="pre-next-btn next-btn">
          <span class="glyphicon glyphicon-chevron-right font-2x green"></span>
        </div>
      </div>
      <div class="col-lg-1 col-md-1 pre-next-hover"></div>
    </div>

  </div>
</div>
