<div class="row">
    <% 3.times do %>
    <div class="col-md-4">
        <div class="course">
            <div class="poster">
                <%= image_tag "top.jpg", :width => "100%" %>
            </div>
            <div class="title">
                <a href="/courses/1">直播课程</a>
                <div class="time">
                    9-30 21:00
                </div>
            </div>
        </div>
    </div>
    <% end %>
</div>
