    <div id="public_courses"  class="panel panel-default">
        <div class="panel-heading">公开课</div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-5 col-lg-offset-2">
                    <div class="thumbnail">
                        <%= image_tag("1.jpg") %>
                    </div>
                </div>

                <div class="col-lg-5">
                    <div>
                        <p>零基础学服装设计</p>
                        <p>老师：杰克逊</p>
                        <p>时间：2014.11.5</p>
                        <p>学生能学到什么？</p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-3 col-lg-offset-1">
                    <%= image_tag("2.jpg") %>
                </div>

                <div class="col-lg-3">
                    <%= image_tag("2.jpg") %>
                </div>

                <div class="col-lg-3">
                    <%= image_tag("2.jpg") %>
                </div>
            </div>
        </div>
    </div>
