<div class="topic-container">
  <div id="topic">
    <div>
      <h2 class="topic-head">Helpouts for</h2>
    </div>

    <div class="small-topics">
      <a class="topic topic-small" href="#" id="topic-image-1">
        <div class="topic-title">
          Back to school
        </div>
      </a>

      <a class="topic topic-small" href="#" id="topic-image-2">
        <div class="topic-title">
          Photography
        </div>
      </a>

      <a class="topic topic-small" href="#" id="topic-image-3">
        <div class="topic-title">
          Mobile Apps
        </div>
      </a>
    </div>

    <a class="topic topic-big" href="#" id="topic-image-4">
      <div class="topic-title">
        New Parents
      </div>
    </a>
  </div>
</div>
