<div class="container" id="topic">
  <div class="row">
    <div class="col-lg-4 col-md-4 col-lg-offset-1 col-md-offset-1">
      <h2>Helpouts for...</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-1 col-md-1"></div>
    <% 3.times do %>
      <div class="col-lg-3 col-md-3 helpout bg-image-cooking">
        <div class="bg-black info font-2x">Cooking</div>
      </div>
    <% end %>
  </div>

  <div class="row">
    <div class="col-lg-1 col-md-1"></div>
    <div class="col-lg-10 col-md-10 helpout bg-image-sunset">
      <div class="bg-black info font-2x">Photograph</div>
    </div>
  </div>
</div>
