<div class="topic-container">
  <div id="topic">
    <div>
      <h2 class="topic-head">精彩推荐</h2>
    </div>

    <div class="small-topics">
      <a class="topic topic-small" href="#" id="topic-image-1">
        <div class="topic-title">
            校园课程
        </div>
      </a>

      <a class="topic topic-small" href="#" id="topic-image-2">
        <div class="topic-title">
            摄影
        </div>
      </a>

      <a class="topic topic-small" href="#" id="topic-image-3">
        <div class="topic-title">
            移动开发
        </div>
      </a>
    </div>

    <a class="topic topic-big" href="#" id="topic-image-4">
      <div class="topic-title">
          新晋奶爸
      </div>
    </a>
  </div>
</div>
