<%= render :partial => 'banner' %>

<ul id="course_category_list" class="nav nav-pills" role="tablist">
    <li role="presentation" class="active">
        <a href="#live_courses" role="tab" data-toggle="tab">直播课</a>
    </li>
    <li role="presentation">
        <a href="#record_courses" role="tab" data-toggle="tab">录播课</a>
    </li>
</ul>

<div class="tab-content" id="course_list">
    <%= render :partial => 'live_courses' %>
    <%= render :partial => 'recorded_courses' %>
</div>

<%= render :partial => 'public_courses' %>
