---
default:
  partner_id: 
  key: 
  email: 
  host: 
  chat_server: 
  media_query_url: 
  media_server: &1
    url: 
    app_name: 
  port: 
  expired_duration: 
development:
  partner_id: 
  key: 
  email: 
  host: 
  chat_server: 
  media_query_url: 
  media_server: *1
  port: 
  expired_duration: 
production:
  partner_id: 
  key: 
  email: 
  host: 
  chat_server: 
  media_query_url: 
  media_server: *1
  port: 
  expired_duration: 
test:
  partner_id: 
  key: 
  email: 
  host: 
  chat_server: 
  media_query_url: 
  media_server: *1
  port: 
  expired_duration: 
