---
default:
  partner_id: 
  key: 
  email: 
  host: 
  comment_server: 
  port: 
  expired_duration: 
development:
  partner_id: 
  key: 
  email: 
  host: 
  comment_server: 
  port: 
  expired_duration: 
production:
  partner_id: 
  key: 
  email: 
  host: 
  comment_server: 
  port: 
  expired_duration: 
test:
  partner_id: 
  key: 
  email: 
  host: 
  comment_server: 
  port: 
  expired_duration: 
