
<div class="review">
    <div class="review_avatar">
        <%# TODO fake data %>
        <div class="avatar_wrap">
            <%= image_tag "people-1.jpg" %>
        </div>
    </div>
    <div class="review_content">
        <div class="review_starts">
            <% r.grade.times do%>
                <span class="glyphicon glyphicon-star green"></span>
            <% end %>
            <% (5 - r.grade).times do%>
                <span class="glyphicon glyphicon-star blank"></span>
            <% end %>
            <span class="review_time"><%= r.created_at.to_s %></span>
        </div>
        <div class="review_comment">
            <%= r.comment %>
        </div>
        <div class="reviewer">
            <%= r.user.username %>
        </div>
    </div>
</div>
