@import "variables";
.account_config {
    background-color: #fff;
    padding: 20px 40px;
}
.config_title {
}
label {
    color: $main_color
}
.set_avatar {
    float: left;
    color: #337ab7;
    text-decoration: underline;
    &:hover {
        color: #23527c;
        text-decoration: underline;
    }
}
