@import "variables";
.bigger_container {
    margin: 0 auto;
    width: 1300px;
}

.live_left, .live_right, .live_middle  {
    float: left;
}

.live_right, .live_left  {
    height: 560px;
    width: 200px;
    background-color: #858585;
}

.live_middle {
    width: 900px;
}

.title  {
    background-color: #2A2A2A;
    padding: 8px 0;

    h4 {
        margin: 0 0 0 100px;
        color: #fff;
    }
}
#stream-player {
    width: 700px;
    height: 525px;
    margin: 0 auto;
}
.live_video {
    background-color: #030303;
    text-align: center;
}
.comment_item {
    width: 180px;
    margin: 5px 10px;
    min-height: 100px;
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    font-size: 13px;
    .down {
        margin-top: 10px;
    }
}
.username {
    color: $main_color;
    margin-right: 45px;
}
.comments_pane {
    height: 470px;
    overflow: scroll;
}
.g_comments {
    padding: 10px;
}
#send_message {
    margin-top: 10px;
}
.time {
    float: right;
    margin-right: 10px;
}
.chapter {
    margin-left: 20px;
}
.chapter_icon {
    float: left;
    height: 10px;
    margin-right: 10px;
}
.chapter_title {
    font-size: 15px;
    color: gray;
}
.chapter_introduce {
    font-size: 13px;
    color: gray;
    margin-top: 10px;
}
.chapter_right {
    float: left;
}
.starts {
    margin: 0 10px;
    vertical-align: -2px;
}
.comment_user, .comment_body {
    float: left
}
.comment_body {
    margin-left: 10px;
}
#course_review {
    margin-top: 10px;
    height: 70px;
    width: 498px;
    border: solid 1px #e9e9e9;
    resize: none;
}
#submit {
    margin-top: 10px;
    float: right;
}
.cate {
    td {padding: 6px;}
    .by_starts {
        border-right: 1px solid;
    }
}
.teacher_info {
    height: 70px;
    vertical-align: middle;
    padding: 9px 0 9px 90px;
    .teacher_name {
        font-size: 14px;
        margin: 5px 0;
    }
    .teacher_job {
        color: gray;
    }
}
.teacher_avatar {
    float: left;
}
.teacher_intro {
    margin-top: 20px;
}
.avatar_list {
    overflow: hidden;
    border-top: 1px solid #C5C5C5;
    margin-top: 11px;
    div {
        float: left;
        margin: 10px;
    }
}

body{
    width: 1300px !important;
}
.lesson a{
    color: black;
    padding-left: 10px;
}
