a { cursor: pointer; }
.relative { position: relative; }
.left { float: left; }
.right { float: right; }
#error_explanation {
  @extend .alert;
  @extend .alert-error;
  @extend .alert-block; /* optional */
}

.field_with_errors {
  @extend .form-group
}