.bg-green {
  background-color: #53a93f;
}

.white {
  color: white;
}

/* Header */

#header-top {
  text-align: center;
  color: white;
  padding: 2px 0px;
}

#header-top a {
  color: white;
  text-decoration: none;
}

#header-mid span {
  font-size: 2em;
  margin-left: 10px;
  line-height: 50px;
}

hr {
  margin: 0px 0px 20px;
}

#header-bottom span {
  font-size: 2em;
}

/* Footer */

footer {
  text-align: center;
}

#footer-top {
  color: white;
  padding: 2px 0px;
}

#footer-top a {
  color: white;
  text-decoration: none;
}

footer div.btn-group {
  margin: 20px 0px;
}

#footer-bottom span {
  font-size: 1.5em;
}

#footer-bottom {
  margin-bottom: 30px;
}
