body {
    min-width: 1200px;
    margin: 0 0 0 0;
    line-height: 1;
    background: #eee;
    color: #404040;
    font-size: 100%;
    -webkit-font-smoothing: antialiased;
}
.category {
    position: relative;
    width: 100%;
    height: 60px;
}

.computer {
    width: 28px;
}
.img_and_title {
    padding-top: 17px;
}
.category_link {
    margin-left: 6px;
    font-size: 16px;
    font-weight: 700;
    color: #666;
    line-height: 20px;
    background-repeat: no-repeat;
}
.header_section {
    background: #fff;
    position: relative;
    border: 1px solid #e5e5e5;
    border-radius: 2px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.15);
}
.img_wrap {
    width: 640px;
    height: 360px;
    img {
        width: 100%;
    }
}

.teacher_avatar {
    border-radius: 50%;
    margin: 12px auto;
    width: 90px;
    height: 90px;
}
.teacher_info {
    float: right;
    width: 258px;
    text-align: center;
}
.border_font {
    color: #333;
    font-size: 16px;
    font-weight: 700;
}
.course_name {
    color: #666;
    font-size: 30px;
    font-weight: 300;
    padding: 10px 20px;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
}
.starts {
    font-size: 16px;
}
.review_count {
    font-size: 13px;
}
.review_section {
    margin: 0 20px 20px;
}
.teacher_name {
    color: #333;
}
.price {
    margin: 10px auto;
}

.start_time {
    margin: 10px auto;
    font-size: 14px;
}
.btn-google {
    color: white;
    background-color: #4D90FE;
    border-color: #3079ED;
    border-radius: 2px;
    width: 220px;
    &:hover {
        color: white;
        background-color: #3079ED;
    }
}
.left_side {
    .section {
        background-color: white;
        margin-top: 20px;
        padding: 20px;
    }
    .title {

    }
    width: 580px;
    float: left;
}
.right_side {
    .section {
        background-color: white;
        margin-top: 20px;
        padding: 20px;
    }
    float: right;
    width: 300px;
}
.review {
    border-top: solid 1px #e9e9e9;
    margin: 10px -20px;
    padding: 15px 20px;
}
.review_avatar {
    float: left;
}
.avatar_wrap {
    width: 32px;
    border-radius: 50%;
    overflow: hidden;
    img {
        width: 100%;
    }
}
.review_content {
    margin-left: 45px;
}
.review_starts {
    font-size: 15px;
    .review_time {
        font-size: 13px;
        margin-left: 5px;
        vertical-align: 2px;
    }
}
.review_comment {
    margin: 10px 0;
}
.reviewer {
    font-weight: 700;
    margin: 10px 0;
    color: #000;
}
.blank {
    color: #ABABAB;
}
.start_detail {
    float: right;
    td {
        padding: 3px;
    }
}
.star_length {
    .progress {
        width: 143px;
        margin: 0 10px 0 5px;
        height: 15px;
    }
    .progress-bar {
        background-color: #53a93f;
    }
}
.stars_count {
    font-weight: 700;
}

