body {
    min-width: 1200px;
    margin: 0 0 0 0;
    line-height: 1;
    background: #eee;
    color: #404040;
    font-size: 100%;
    -webkit-font-smoothing: antialiased;
}
.view-content {
    width: 900px;
    margin: 0 auto;
}
.category {
    position: relative;
    width: 100%;
    height: 60px;
}

.computer {
    width: 28px;
}
.img_and_title {
    padding-top: 17px;
}
.category_link {
    margin-left: 6px;
    font-size: 16px;
    font-weight: 700;
    color: #666;
    line-height: 20px;
    background-repeat: no-repeat;
}
.header_section {
    background: #fff;
    position: relative;
    border: 1px solid #e5e5e5;
    border-radius: 2px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.15);
}
.img_wrap {
    width: 640px;
    height: 360px;
    img {
        width: 100%;
    }
}

.teacher_avatar {
    border-radius: 50%;
    margin: 12px auto;
    width: 90px;
    height: 90px;
}
.teacher_info {
    float: right;
    width: 258px;
    text-align: center;
}
.border_font {
    color: #333;
    font-size: 16px;
    font-weight: 700;
}
.course_name {
    color: #666;
    font-size: 30px;
    font-weight: 300;
    padding: 10px 20px;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
}
.starts {
    font-size: 16px;
}
.review_count {
    font-size: 13px;
}
.review_section {
    margin: 0 20px 20px;
}
.teacher_name {
    color: #333;
}
.price {
    margin: 10px auto;
}

.start_time {
    margin: 10px auto;
    font-size: 14px;
}
.btn-google {
    color: white;
    background-color: #4D90FE;
    border-color: #3079ED;
    border-radius: 2px;
    width: 220px;
    &:hover {
        color: white;
        background-color: #3079ED;
    }
}
.left_side {
    div {
        background-color: white;
        margin-top: 20px;
        padding: 20px;
    }
    .title {

    }
    width: 580px;
    float: left;
}
.right_side {
    div {
        background-color: white;
        margin-top: 20px;
        padding: 20px;
    }
    float: right;
    width: 300px;
}
.clear {
    clear: both;
}
