/* common */
.avatar {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  position: relative;
  top: 2px;
  left: 0px;
}

.avatar-bg {
  background-color: white;
  width: 84px;
  height: 84px;
  border-radius: 100%;
}

.text-shadow {
  text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.7);
}

/* banner */

#banner {
  background-image: url("sunset.jpg");
  margin-top: 10px;
  height: 406px;
  text-align: center;
  /* transition: all 1s linear; */
  clear: both;
}

#banner-title {
  margin-top: 50px;
}

#watchVideo {
  margin-top: 30px;
}

#watchVideo span {
  padding: 10px;
  border-radius: 5px;
}

#searchForm {
  margin-top: 40px;
}

#searchForm div.bg-black {
  padding: 10px;
  border-radius: 5px;
}

#searchForm input {
  width: 400px;
  height: 40px;
}

#searchForm span {
  width: 100px;
  height: 40px;
  border-radius: 5px;
  text-align: center;
}

#introduction {
  width: 350px;
  height: 250px;
  background-color: white;
  border-radius: 5px;
  position: relative;
  top: 70px;
  left: 150px;
}

#introduction div.bg-green {
  height: 100px;
}

.banner-avatar {
  float: left;
  margin-top: 10px;
  margin-left: 20px;
}

.indicator {
  position: relative;
  top: 100px;
  left: 270px;
}

.indicator div {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  float: left;
  margin-left: 20px;
}

/* topic */

.helpout {
  margin: 10px 48px;
  padding: 0px;
  height: 300px;
  border-radius: 5px;
}

.info {
  height: 40px;
  text-align: center;
  margin-top: 260px;
  color: white;
  border-radius: 0px 0px 10px 10px;
}

.bg-image-sunset {
  background-image: url("sunset.jpg");
}

.bg-image-cooking {
  background-image: url("cooking.jpg");
}

.bg-image-photograph {
  background-image: url("photograph.jpg");
}

/* category */

#category {
  background-color: rgb(220, 220, 220);
}

#category-list span {
  font-size: 3em;
  margin: 20px;
}

.category-course {
  width: 300px;
  height: 250px;
  background-color: white;
  margin: 10px;
  padding: 0px;
  border-radius: 5px;
}

.category-course-image {
  height: 150px;
}

.category-course-info {
  position: relative;
  top: -42px;
}

.category-course-teacher {
  position: relative;
}

.category-avatar {
  float: left;
  margin-left: 20px;
}

.category-course hr {
  clear: both;
}

.pre-next-btn {
  width: 80px;
  height: 80px;
  background-color: white;
  border-radius: 100%;
  position: relative;
  top: 225px;
}

.pre-next-btn span {
  margin-top: 25px;
}

.active {
  display: block;
}

.inactive {
  display: none;
}

.category-tab {
  float: left;
}
