// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.our_container {
    margin-top: 30px;
}
.top_banner {
    height: 400px;
    width: 100%;
    background: url(/assets/top.jpg) center top/* fixed*/;
}
.course {
    border-radius: 5px;
    border-color: #DDD;
    position: relative;
    width: 360px;
    height: 240px;
    overflow: hidden;
    margin: 5px;
    padding: 0;
}
.course .poster {

}
.course .title {
    position: absolute;
    bottom: 0px;
    font-size: 24px;
    color: white;
    padding: 5px;
    font-family: "黑体";
}