/* common */
.avatar {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  position: relative;
  top: 2px;
  left: 0px;
}

.avatar-bg {
  background-color: white;
  width: 84px;
  height: 84px;
  border-radius: 100%;
}

/* banner */

#banner {
  margin-top: 10px;
  height: 400px;
  text-align: center;
  padding-left: 0px;
}

.banner-bg {
  position: absolute;
  height: 400px;
  width: 100%;
  transition: all 1s linear;
}

.bg-active {
  opacity: 1;
}

.bg-inactive {
  opacity: 0;
}

#banner-bg-1 {
  background-image: url("sunset.jpg");
}

#banner-bg-2 {
  background-image: url("shop.jpg");
}

#banner-title {
  margin-top: 50px;
}

#watchVideo {
  margin-top: 30px;
}

#watchVideo span {
  padding: 10px;
  border-radius: 5px;
}

#searchForm {
  margin-top: 40px;
}

#searchForm div.bg-black {
  padding: 10px;
  border-radius: 5px;
}

#searchForm input {
  width: 400px;
  height: 40px;
}

#searchForm span {
  width: 100px;
  height: 40px;
  border-radius: 5px;
  text-align: center;
}

#introduction {
  width: 350px;
  height: 250px;
  background-color: white;
  border-radius: 5px;
  position: relative;
  top: 70px;
}

#introduction div.bg-green {
  height: 100px;
}

.banner-avatar {
  float: left;
  margin-top: 10px;
  margin-left: 20px;
}

.indicator {
  position: relative;
  top: 100px;
  left: 135px;
}

.indicator div {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  float: left;
  margin-left: 20px;
}

/* topic */

.helpout {
  margin: 10px 45px 10px 0px;
  padding: 0px;
  height: 240px;
  border-radius: 5px;
  background-repeat: no-repeat;
}

.helpout:hover {
  box-shadow: 0 0 10px #aaa;
}

.info {
  height: 40px;
  text-align: center;
  margin-top: 200px;
  color: white;
  border-radius: 0px 0px 10px 10px;
}

.bg-image-sunset {
  background-image: url("sunset.jpg");
}

.bg-image-cooking {
  background-image: url("cooking.jpg");
}

.bg-image-photograph {
  background-image: url("photograph.jpg");
}

/* category */

#category {
  background-color: rgb(220, 220, 220);
}

#category-list span {
  font-size: 3em;
  margin: 20px;
}

.category-slider {

}

.pre-next-hover {
  background-color: rgb(220, 220, 220);
  height: 200px;
  z-index: 99;
}

.pre-next-btn {
  width: 80px;
  height: 80px;
  background-color: white;
  border-radius: 100%;
  position: relative;
  top: 225px;
}

.pre-next-btn span {
  margin-top: 25px;
}

.category-viewport {
  overflow: hidden;
  height: 540px;
  padding: 0px;
}

.category-tabs {
  position: absolute;
  left: 0px;
  transition: all .6s ease;
}

.category-tab {
  width: 840px;
  height: 540px;
}

.active {
  /* position: absolute; */
}

.inactive {
  position: relative;
}

.category-course {
  width: 256px;
  height: 250px;
  background-color: white;
  margin: 10px;
  padding: 0px;
  border-radius: 5px;
}

.category-course-image {
  height: 150px;
}

.category-course-info {
  position: relative;
  top: -42px;
}

.category-course-teacher {
  position: relative;
}

.category-avatar {
  float: left;
  margin-left: 20px;
}

.teacher-name {
  margin: 10px 0px 0px 10px;
}

.category-course hr {
  clear: both;
}

.course-review {
  margin: 0px 10px;
}
