@import "variables";
.account_left {
    float: left;
    width: 191px;
    background-color: #fff;
}
.account_middle {
    float: left;
    width: 696px;
    margin-left: 12px;
}
.avatar_wrap {
    float: left;
}
.user_avatar {
    padding: 5px;
}
.username {
    padding-left: 40px;
    color: $main_color;
    font-size: 13px;
    height: 50px;
}
.ad {
    img {
        width: 100%;
    }
}
.view-content {
    margin-top: 20px;
}
.settings {
    .personal {
        border-right: 1px solid $border_color;
    }
    span {
        padding: 7px 16px;
    }
    border-bottom: 2px solid $border_color;
    border-top: 1px solid $border_color;
    padding: 5px 0;
}

.pane {
    h4 {
        font-size: 15px;
    }
    color: $main_color;
    padding-left: 40px;
}
.sub_class {
    padding-left: 20px;
}

.learning {
    margin-top: 20px;
    border-bottom: 1px solid;
    padding-bottom: 10px;
    
    span {
        padding: 10px;
        &:hover {
            cursor: pointer;
        }
    }
    span.active {
        padding: 10px 10px 11px 10px;
        border-bottom: 2px solid $main_color;
    }
}
.no_class {
    margin-top: 20px;
    padding: 20px 0;
    border: 1px dotted;
    text-align: center;
}
