.container-fluid {
  padding: 0px;
  margin: 0px;
}

.row {
  padding: 0px;
  margin: 0px;
}

/* Background color */
.bg-black {
  background-color: rgba(0, 0, 0, 0.3);
}

.bg-green {
  background-color: #53a93f;
}

.bg-gray {
  background-color: rgb(100, 100, 100);
}

.bg-light-gray {
  background-color: rgb(220, 220, 220);
}

.bg-white {
  background-color: white;
}

/* Font color */
.white {
  color: white;
}

.green {
  color: #53a93f;
}

.gray {
  color: rgb(100, 100, 100);
}

.text-shadow {
  text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.7);
}

/* Font size */
.font-2x {
  font-size: 2em;
}

.font-3x {
  font-size: 3em;
}

/* Header */

#header-nav {
  margin: 10px 0px;
  height: 35px;
}
/* Footer */

footer {
  text-align: center;
  margin-top: 50px;
}

#footer-top {
  color: white;
  padding: 2px 0px;
}

#footer-top a {
  color: white;
  text-decoration: none;
}

footer div.btn-group {
  margin: 20px 0px;
}

#footer-bottom span {
  font-size: 1.5em;
}

#footer-bottom {
  margin-bottom: 30px;
}
