.teach-container {
  margin: 0 auto;
  padding: 40px 0 60px;
  width: 900px;
}

#banner {
  /* helpouts's width si 400px */
  height: 350px;
  width: 100%;
  position: relative;
}

.banner-bg {
  position: absolute;
  height: 350px;
  width: 900px;
  transition: all 1s linear;
}

.bg-active {
  opacity: 1;
}

.bg-inactive {
  opacity: 0;
}

#banner-bg-1 {
  background-image: url("home-banner-bg-image-1.jpg");
}

#banner-bg-2 {
  background-image: url("home-banner-bg-image-2.jpg");
}

.banner-text {
  position: absolute;
  bottom: 100px;
  padding: 0 100px;
}

.choice-list {
  width: 900px;
  padding: 40px 0;
}

.choice {
  /* why is 300px wrong? */
  width: 295px;
  padding: 0 20px;
  display: inline-block;
}
