@import "jquery.jcrop";
@import "variables";
.upload_avatar {
    background-color: white;
    padding: 10px 20px;
}
.body {
    margin-top: 10px;
}
h3 {
    color: $main_color
}
.panel-footer {
    margin-top: 10px;
}