<div class="container">
    <footer>
        <div>
            <div class="btn-group btn-group-md">
                <button type="button" class="btn btn-default">
                    <span class="glyphicon glyphicon-info-sign"></span>
                    <a>关于我们</a>
                </button>
                <button type="button" class="btn btn-default">
                    <span class="glyphicon glyphicon-search"></span>
                    <a>人员招聘</a>
                </button>
                <button type="button" class="btn btn-default">
                    <span class="glyphicon glyphicon-heart"></span>
                    <a>联系我们</a>
                </button>
                <button type="button" class="btn btn-default">
                    <span class="glyphicon glyphicon-question-sign"></span>
                    <a>帮助中心</a>
                </button>
            </div>

            <div>
                <%= image_tag("yuntuo.jpg") %>
            </div>

            <p><span class="glyphicon glyphicon-copyright-mark"></span>
            2014 yishizhibo.com. All rights reserved. 京ICP备11005147号-10</p>
            <p>北京云拓锐联科技有限公司 版权所有</p>


        </div>
    </footer>
</div>
