<footer>
  <div class="footer-top">
    <div class="footer-top-container">
      <%= image_tag "footer-helpout.png" %>
      <strong>用自己的能力装点他人的生活</strong>
        现在出发！
      <%= link_to "了解更多", "" %>
    </div>
  </div>

  <ul>
    <li><a href="#"><strong>关于人人讲堂</strong></a></li>
    <li><a href="#">用户反馈</a></li>
      <li><a href="#">用户服务协议</a></li>
      <li><a href="#">联系我们</a></li>
  </ul>

   <!--div class="footer-bottom">
    <span class="label label-info">Google Play</span>
    <span class="label label-info">App Store</span>
  </div-->
</footer>
