<footer>
  <div id="footer-top" class="bg-green">
    100% money back guaranteeWe guarantee that you'll love your Helpouts.
    <%= link_to "Learn more", "" %>
  </div>

  <div class="btn-group" role="group">
    <button type="button" class="btn btn-default">Google</button>
    <button type="button" class="btn btn-default">Terms of use</button>
    <button type="button" class="btn btn-default">Privacy policy</button>
    <button type="button" class="btn btn-default">Helpouts plicies</button>
    <button type="button" class="btn btn-default">Help Center</button>
    <button type="button" class="btn btn-default">Send feedback</button>
    <button type="button" class="btn btn-default">
      <span class="glyphicon glyphicon-cloud"></span>
      <span class="glyphicon glyphicon-user"></span>
      <span class="glyphicon glyphicon-time"></span>
    </button>
  </div>

   <div id="footer-bottom">
    <span class="label label-info">Google Play</span>
    <span class="label label-info">App Store</span>
  </div>
</footer>
