<footer class="bg-gray text-center">
  <div id="footer-top" class="bg-green white">
    <div class="footer-top-container">
      <%= image_tag "footer-helpout.png" %>
      <strong>100% money back guarantee</strong>
      We guarantee that you'll love your Helpouts.
      <%= link_to "Learn more", "", class: "white" %>
    </div>
  </div>

  <ul>
    <li><a href="#"><strong>Google</strong></a></li>
    <li><a href="#">Terms of use</a></li>
    <li><a href="#">Privacy policy</a></li>
    <li><a href="#">Helpouts policies</a></li>
    <li><a href="#">Help Center</a></li>
    <li><a href="#">Send feedback</a></li>
  </ul>

   <div id="footer-bottom">
    <span class="label label-info">Google Play</span>
    <span class="label label-info">App Store</span>
  </div>
</footer>
