<header>
  <div id="header-top" class="bg-green">
    Introducing Helpouts on Partner Sites -- A new way to get expert Help and advice when you need it most.
    <%= link_to "Learn more", "" %>
  </div>

  <div class="row" id="header-mid">
    <div class="col-lg-2">
      <h2>Helpouts</h2>
    </div>
    
    <% if false %>
      <div>Search</div>
    <% end %>
    
    <div class="col-lg-3 col-lg-offset-7">
      name
      <span class="glyphicon glyphicon-th"></span>
      <span class="glyphicon glyphicon-bell"></span>
      <span class="glyphicon glyphicon-plus"></span>
      <span class="glyphicon glyphicon-user"></span>
    </div>
  </div>

  <hr>

  <div id="header-bottom" class="row">
    <div class="dropdown col-lg-2">
      <button class="btn btn-default dropdown-toggle" type="button" 
        id="browsehelpouts" data-toggle="dropdown" aria-expanded="true">
        Browse helpouts
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu" aria-labelledby="browsehelpouts">
        <li role="presentation"><a role="menuitem" tabindex="-1"
          href="#">Home</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1"
          href="#">Art</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1"
          href="#">Cooking</a></li>
      </ul>
    </div>

    <div class="dropdown col-lg-2">
      <button class="btn btn-default dropdown-toggle" type="button" 
        id="yourhelpouts" data-toggle="dropdown" aria-expanded="true">
        Your Helpouts
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu" aria-labelledby="yourhelpouts">
        <li role="presentation"><a role="menuitem" tabindex="-1"
          href="#">Upcoming Helpouts</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1"
          href="#">Past Helpouts</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1"
          href="#">Referrals</a></li>
      </ul>
    </div>

    <div class="col-lg-4 col-lg-offset-4">
      <button type="button" class="btn btn-default">About Helpouts</button>
      <button type="button" class="btn bg-green">Give your own Helpouts</button>
      <a href="#"><span class="glyphicon glyphicon-question-sign"></span></a>
      <a href="#"><span class="glyphicon glyphicon-cog"></span></a>
    </div>
  </div>
</header>
