<header>
  <div class="bg-green text-center white">
    Introducing Helpouts on Partner Sites -- A new way to get expert Help and advice when you need it most.
    <%= link_to "Learn more", "", class: "white" %>
  </div>

  <div id="header-nav">
    <button type="button" class="btn btn-link left"><strong>Helpouts</strong></button>
    <div class="dropdown left">
      <button class="btn btn-link dropdown-toggle" type="button" 
        id="browsehelpouts" data-toggle="dropdown" aria-expanded="true">
        <%= image_tag "home.png" %>
        Browse helpouts
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu" aria-labelledby="browsehelpouts">
        <li role="presentation"><a role="menuitem" tabindex="-1"
          href="#">Home</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1"
          href="#">Art</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1"
          href="#">Cooking</a></li>
      </ul>
    </div>

    <div class="dropdown left">
      <button class="btn btn-link dropdown-toggle" type="button" 
        id="yourhelpouts" data-toggle="dropdown" aria-expanded="true">
        <%= image_tag "helpout.png" %>
        Your Helpouts
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu" aria-labelledby="yourhelpouts">
        <li role="presentation"><a role="menuitem" tabindex="-1"
          href="#">Upcoming Helpouts</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1"
          href="#">Past Helpouts</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1"
          href="#">Referrals</a></li>
      </ul>
    </div>

    <div class="right">
      <button type="button" class="btn bg-green">Give your own Helpouts</button>
      <button type="button" class="btn btn-link">Sign in</button>
    </div>
  </div>
</header>
